/* src/App.css */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  background-attachment: fixed;
  color: white;
}


.App {
  min-height: 100vh;
  background: inherit;
}
